.home-page {
    width: 98%;
    /* border: 0.5px solid #8C9EFF; */
    padding: 20px;
    margin: 0px auto;
    height: 660px; 
 background-image: url("https://cdn.pixabay.com/photo/2020/09/07/09/30/tablet-5551322_1280.jpg"); 
}